[submodule "luci-app-tinyfilemanager"]
	path = luci-app-tinyfilemanager
	url = https://github.com/lynxnexy/luci-app-tinyfilemanager.git
[submodule "luci-app-file-transfer"]
	path = luci-app-file-transfer
	url = https://github.com/muink/luci-app-file-transfer.git
[submodule "luci-app-filebrowser"]
	path = luci-app-filebrowser
	url = https://github.com/muink/luci-app-filebrowser.git
[submodule "luci-app-diskman"]
	path = luci-app-diskman
	url = https://github.com/lisaac/luci-app-diskman.git
[submodule "luci-app-smartinfo"]
	path = luci-app-smartinfo
	url = https://github.com/muink/luci-app-smartinfo.git
[submodule "gSpotx2f/luci-app-disks-info"]
	path = gSpotx2f/luci-app-disks-info
	url = https://github.com/gSpotx2f/luci-app-disks-info.git
