[submodule "muink/luci-app-tinyfilemanager"]
	path = muink/luci-app-tinyfilemanager
	url = https://github.com/muink/luci-app-tinyfilemanager.git
[submodule "luci-app-diskman"]
	path = luci-app-diskman
	url = https://github.com/lisaac/luci-app-diskman.git
[submodule "gSpotx2f/luci-app-disks-info"]
	path = gSpotx2f/luci-app-disks-info
	url = https://github.com/gSpotx2f/luci-app-disks-info.git
[submodule "muink/luci-app-change-mac"]
	path = muink/luci-app-change-mac
	url = https://github.com/muink/luci-app-change-mac.git
[submodule "muink/luci-app-natter"]
	path = muink/luci-app-natter
	url = https://github.com/muink/luci-app-natter.git
[submodule "muink/luci-app-pcap-dnsproxy"]
	path = muink/luci-app-pcap-dnsproxy
	url = https://github.com/muink/luci-app-pcap-dnsproxy.git
[submodule "muink/luci-app-tn-netports"]
	path = muink/luci-app-tn-netports
	url = https://github.com/muink/luci-app-tn-netports.git
[submodule "luci-app-serverchan"]
	path = luci-app-serverchan
	url = https://github.com/tty228/luci-app-serverchan.git
[submodule "packages/openwrt-rgmac"]
	path = packages/openwrt-rgmac
	url = https://github.com/muink/openwrt-rgmac.git
[submodule "packages/openwrt-Pcap_DNSProxy"]
	path = packages/openwrt-Pcap_DNSProxy
	url = https://github.com/muink/openwrt-Pcap_DNSProxy.git
[submodule "packages/openwrt-Natter"]
	path = packages/openwrt-Natter
	url = https://github.com/muink/openwrt-Natter.git
[submodule "muink/luci-app-netdata"]
	path = muink/luci-app-netdata
	url = https://github.com/muink/luci-app-netdata.git
[submodule "muink/luci-app-netspeedtest"]
	path = muink/luci-app-netspeedtest
	url = https://github.com/muink/luci-app-netspeedtest.git
[submodule "packages/openwrt-go-stun"]
	path = packages/openwrt-go-stun
	url = https://github.com/muink/openwrt-go-stun.git
[submodule "packages/openwrt-alwaysonline"]
	path = packages/openwrt-alwaysonline
	url = https://github.com/muink/openwrt-alwaysonline.git
[submodule "muink/luci-app-alwaysonline"]
	path = muink/luci-app-alwaysonline
	url = https://github.com/muink/luci-app-alwaysonline.git
[submodule "muink/luci-app-packagesync"]
	path = muink/luci-app-packagesync
	url = https://github.com/muink/luci-app-packagesync.git
[submodule "gSpotx2f/luci-app-log"]
	path = gSpotx2f/luci-app-log
	url = https://github.com/gSpotx2f/luci-app-log.git
[submodule "gSpotx2f/luci-app-cpu-perf"]
	path = gSpotx2f/luci-app-cpu-perf
	url = https://github.com/gSpotx2f/luci-app-cpu-perf.git
[submodule "gSpotx2f/luci-app-cpu-status"]
	path = gSpotx2f/luci-app-cpu-status
	url = https://github.com/gSpotx2f/luci-app-cpu-status.git
[submodule "gSpotx2f/luci-app-cpu-status-mini"]
	path = gSpotx2f/luci-app-cpu-status-mini
	url = https://github.com/gSpotx2f/luci-app-cpu-status-mini.git
[submodule "gSpotx2f/luci-app-temp-status"]
	path = gSpotx2f/luci-app-temp-status
	url = https://github.com/gSpotx2f/luci-app-temp-status.git
[submodule "gSpotx2f/luci-app-interfaces-statistics"]
	path = gSpotx2f/luci-app-interfaces-statistics
	url = https://github.com/gSpotx2f/luci-app-interfaces-statistics.git
[submodule "gSpotx2f/luci-app-internet-detector"]
	path = gSpotx2f/luci-app-internet-detector
	url = https://github.com/gSpotx2f/luci-app-internet-detector.git
[submodule "packages/openwrt-php-nginx"]
	path = packages/openwrt-php-nginx
	url = https://github.com/muink/openwrt-php-nginx.git
[submodule "jerrykuku/luci-app-argon-config"]
	path = jerrykuku/luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
[submodule "jerrykuku/luci-theme-argon"]
	path = jerrykuku/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
