[submodule "muink/luci-app-tinyfilemanager"]
	path = muink/luci-app-tinyfilemanager
	url = https://github.com/muink/luci-app-tinyfilemanager.git
[submodule "luci-app-diskman"]
	path = luci-app-diskman
	url = https://github.com/lisaac/luci-app-diskman.git
[submodule "gSpotx2f/luci-app-disks-info"]
	path = gSpotx2f/luci-app-disks-info
	url = https://github.com/gSpotx2f/luci-app-disks-info.git
[submodule "muink/luci-app-change-mac"]
	path = muink/luci-app-change-mac
	url = https://github.com/muink/luci-app-change-mac.git
[submodule "muink/luci-app-natter"]
	path = muink/luci-app-natter
	url = https://github.com/muink/luci-app-natter.git
[submodule "muink/luci-app-pcap-dnsproxy"]
	path = muink/luci-app-pcap-dnsproxy
	url = https://github.com/muink/luci-app-pcap-dnsproxy.git
[submodule "muink/luci-app-tn-netports"]
	path = muink/luci-app-tn-netports
	url = https://github.com/muink/luci-app-tn-netports.git
[submodule "luci-app-serverchan"]
	path = luci-app-serverchan
	url = https://github.com/tty228/luci-app-serverchan.git
[submodule "packages/openwrt-rgmac"]
	path = packages/openwrt-rgmac
	url = https://github.com/muink/openwrt-rgmac.git
[submodule "packages/openwrt-Pcap_DNSProxy"]
	path = packages/openwrt-Pcap_DNSProxy
	url = https://github.com/muink/openwrt-Pcap_DNSProxy.git
[submodule "packages/openwrt-Natter"]
	path = packages/openwrt-Natter
	url = https://github.com/muink/openwrt-Natter.git
[submodule "muink/luci-app-netdata"]
	path = muink/luci-app-netdata
	url = https://github.com/muink/luci-app-netdata.git
[submodule "muink/luci-app-netspeedtest"]
	path = muink/luci-app-netspeedtest
	url = https://github.com/muink/luci-app-netspeedtest.git
