name: Compile packages and Build images

on:
  workflow_call:
    inputs:
      build_mode:
        required: false
        type: string
      no_img:
        required: false
        type: boolean
      TPATH:
        required: true
        type: string
      VERSION:
        required: true
        type: string
      TARGET:
        required: false
        type: string
      SUBTARGET:
        required: false
        type: string
      PROFILE:
        required: false
        type: string
      ARCH:
        required: true
        type: string
      USIGN_ID:
        required: true
        type: string
      GPG_ID:
        required: false
        type: string

env:
# 使用 GPG 签名 Packages (非必要)
  GPG_SIGN: true
# Cache Libraries
  CACHE_DOWNLOAD: true
# 删除无用文件以增加编译空间
  DELETE_USELESS_FILES: true
# Artifact retention days
  ARTIFACT_RETENTION_DAYS: 3
### 结束

jobs:
  compile:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push a branch
      # pull-requests: write  # To create a PR from that branch
    env:
      TPATH: ${{ inputs.TPATH }}
      VERSION: ${{ inputs.VERSION }}
      TARGET: ${{ inputs.TARGET }}
      SUBTARGET: ${{ inputs.SUBTARGET }}
      PROFILE: ${{ inputs.PROFILE }}
      ARCH: ${{ inputs.ARCH }}
      USIGN_ID: ${{ inputs.USIGN_ID }}
      USIGN_KEY: ${{ secrets[format('USIGN_{0}', inputs.USIGN_ID )] }}
      GPG_ID: ${{ inputs.GPG_ID }}
      GPG_PW: ${{ secrets[format('GPG_PW_{0}', inputs.GPG_ID )] }}
      GPG_KEY: ${{ secrets[format('GPG_{0}', inputs.GPG_ID )] }}
      PREFIX: fantasticpackages_

    steps:
      - name: Maximize Build Space
        if: env.DELETE_USELESS_FILES == 'true' && !cancelled()
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 5120
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'

      - name: Initialize Environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo mkdir -p /workdir
          sudo chown $USER:$GROUPS /workdir
          mkdir -p "/workdir/DL"
          if [ "${{ env.DELETE_USELESS_FILES }}" == "true" ]
          then
              docker rmi $(docker images -q)
              sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php
              sudo -E apt-get -y autoremove --purge
              sudo -E apt-get clean
          fi

      - name: Determine branch name
        run: |
          BRANCH="${VERSION%.*}"
          echo "Building for $BRANCH"
          echo "BRANCH=$BRANCH" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ env.BRANCH }}
          lfs: true
          submodules: true

      - name: Import keys
        shell: bash
        run: |
          # usign
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          echo "USIGN_PUBKEY<<$EOF" >> $GITHUB_ENV
          cat $GITHUB_WORKSPACE/keys/usign/${USIGN_ID}.pub >> $GITHUB_ENV
          echo "$EOF" >> $GITHUB_ENV
          # gpg
          gpg --batch --pinentry-mode=loopback --yes --passphrase "$(echo -n "${GPG_PW}")" --import <(echo "${GPG_KEY}")
          echo "$(sed 's|\s||g' "$GITHUB_WORKSPACE/keys/gpg/${GPG_ID}.finger"):6:" | gpg --import-ownertrust

      - name: Cache DL dependencies
        if: env.CACHE_DOWNLOAD == 'true' && (inputs.build_mode == 0 || inputs.build_mode == 'build_pkgs_and_imgs' || inputs.build_mode == 'build_pkgs') && !cancelled()
        uses: actions/cache@v3
        with:
          path: /workdir/DL
          key: ${{ runner.os }}-OpenWRT-SDK-DL-Cache-Makefile-${{ hashFiles('**/Makefile') }}
          #key: ${{ runner.os }}-DL-${{ github.ref_name }}-${{ hashFiles('Makefile') }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-OpenWRT-SDK-DL-Cache-Makefile-
          #restore-keys: |
          #  ${{ runner.os }}-DL-${{ github.ref_name }}-${{ hashFiles('Makefile') }}-
          #  ${{ runner.os }}-DL-${{ github.ref_name }}-

      - name: Determine EXTRA_FEEDS and PACKAGES
        if: (inputs.build_mode == 0 || inputs.build_mode == 'build_pkgs_and_imgs' || inputs.build_mode == 'build_pkgs') && !cancelled()
        shell: bash
        env:
          EXTRA_FEEDS: >-
            src-link|${{ env.PREFIX }}packages|/feed/feeds/packages/
            src-link|${{ env.PREFIX }}luci|/feed/feeds/luci/
        run: |
          # EXTRA_FEEDS
          echo "EXTRA_FEEDS=$EXTRA_FEEDS" >> $GITHUB_ENV
          # PACKAGES
          _packages="$(ls -1 $GITHUB_WORKSPACE/feeds/packages/ | tr '\n' ' ')"
          _luci="$(ls -1 $GITHUB_WORKSPACE/feeds/luci/ | tr '\n' ' ')"
          PACKAGES="$_packages $_luci"
          echo "Building $PACKAGES"
          echo "PACKAGES=$PACKAGES" >> $GITHUB_ENV

      - name: Build Packages
        id: build_packags
        if: (inputs.build_mode == 0 || inputs.build_mode == 'build_pkgs_and_imgs' || inputs.build_mode == 'build_pkgs') && !cancelled()
        uses: muink/gh-action-sdk@master
        env:
          #ARCH: ${{ env.ARCH }}-v${{ env.VERSION }}
          ARCH: ${{ env.ARCH }}-${{ env.BRANCH }}-SNAPSHOT
          ARTIFACTS_DIR: /workdir
          DL_DIR: /workdir/DL
          FEED_DIR: ${{ github.workspace }}
          EXTRA_FEEDS: ${{ env.EXTRA_FEEDS }}
          NO_REPO_FEEDS: 1
          NO_SHFMT_CHECK: 1
          PACKAGES: ${{ env.PACKAGES }}
          INDEX: 1
          KEY_BUILD: ${{ env.USIGN_KEY }}
          V: 99

      - name: Checkout Packages
        id: checkout_packags
        shell: bash
        if: (inputs.build_mode == 0 || inputs.build_mode == 'build_pkgs_and_imgs' || inputs.build_mode == 'build_pkgs') && !cancelled()
        run: |
          sign_packages() {
            # gpg
            if [ "${{env.GPG_SIGN}}" == "true" ]; then
              gpg -u ${GPG_ID} --batch --pinentry-mode=loopback --yes --passphrase "$(echo -n "${GPG_PW}")" -a -o Packages.asc --detach-sign Packages
            fi
          }
          #
          mkdir -p "$GITHUB_WORKSPACE/$TPATH" 2>/dev/null
          if [ -d "/workdir/bin" ]; then
            sudo chown -R $USER:$GROUPS /workdir/bin
            rm -rf   "$GITHUB_WORKSPACE/$TPATH/$BRANCH/packages/$ARCH/packages" 2>/dev/null
            rm -rf   "$GITHUB_WORKSPACE/$TPATH/$BRANCH/packages/$ARCH/luci" 2>/dev/null
            mkdir -p "$GITHUB_WORKSPACE/$TPATH/$BRANCH/packages/$ARCH/" 2>/dev/null
            for EXTRA_FEED in $EXTRA_FEEDS; do
              feed=$(echo "$EXTRA_FEED" | cut -d'|' -f2)
              if [ -d "/workdir/bin/packages/$ARCH/$feed" ]; then
                echo "cp /workdir/bin/packages/$ARCH/$feed to $GITHUB_WORKSPACE/$TPATH/$BRANCH/packages/$ARCH/${feed/$PREFIX/}"
                cp -Rf "/workdir/bin/packages/$ARCH/$feed" "$GITHUB_WORKSPACE/$TPATH/$BRANCH/packages/$ARCH/${feed/$PREFIX/}"
                pushd "$GITHUB_WORKSPACE/$TPATH/$BRANCH/packages/$ARCH/${feed/$PREFIX/}"; sign_packages; popd
              fi
            done
            #
            pushd "$GITHUB_WORKSPACE/$TPATH/$BRANCH"
            echo "$USIGN_PUBKEY" > ${USIGN_ID}.pub
          cat <<- EOF > ${USIGN_ID}.sh
          #!/bin/sh
          KEYID=${USIGN_ID}
          mkdir -p /etc/opkg/keys 2>/dev/null
          cat <<- PUBKEY > /etc/opkg/keys/\${KEYID,,}
          ${USIGN_PUBKEY}
          PUBKEY
          EOF
            if [ "${{env.GPG_SIGN}}" == "true" ]; then
              cp -f "$GITHUB_WORKSPACE/keys/gpg/${GPG_ID}.finger" ${GPG_ID}.gpg.finger
              cp -f "$GITHUB_WORKSPACE/keys/gpg/${GPG_ID}.pub" ${GPG_ID}.gpg.pub
              cp -f "$GITHUB_WORKSPACE/keys/gpg/${GPG_ID}.rev" ${GPG_ID}.gpg.rev
            fi
            popd
            # Clean images output dir
            rm -rf /workdir/bin/targets 2>/dev/null
          fi

      - name: Checkout Releases whitout compile
        id: checkout_releases_whitout_compile
        env:
          Branch: gh-pages
        shell: bash
        if: inputs.build_mode == 'build_imgs' && !cancelled()
        run: |
          git fetch --no-tags --prune --no-recurse-submodules --depth=1 origin $Branch
          git checkout origin/$Branch -- $TPATH/
          mkdir -p "/workdir/bin/packages/$ARCH" 2>/dev/null
          pushd $TPATH/$BRANCH/packages/$ARCH
          find * -type d -maxdepth 0 2>/dev/null | xargs -I{} cp -Rf "{}" "/workdir/bin/packages/$ARCH/${PREFIX}{}"
          popd

      - name: Display structure of downloaded files (${{ env.BRANCH }}, ${{ env.ARCH }})
        if: ${{ steps.checkout_packags.outcome == 'success' || steps.checkout_releases_whitout_compile.outcome == 'success' }}
        run: ls -R
        working-directory: /workdir/bin/packages/

      - name: Determine packages be installed
        if: inputs.no_img == 0 && (inputs.build_mode == 0 || inputs.build_mode == 'build_pkgs_and_imgs' || inputs.build_mode == 'build_imgs') && !cancelled()
        shell: bash
        run: |
          INSTALLS="$(cat "$GITHUB_WORKSPACE/.github/workflows/prebuildpackages/$ARCH" | tr '\n' ' ')"
          echo "Installing $INSTALLS"
          echo "INSTALLS=$INSTALLS" >> $GITHUB_ENV

      - name: Build Images
        if: inputs.no_img == 0 && (inputs.build_mode == 0 || inputs.build_mode == 'build_pkgs_and_imgs' || inputs.build_mode == 'build_imgs') && !cancelled()
        uses: muink/gh-action-imagebuilder@master
        env:
          ARCH: ${{ env.TARGET }}-${{ env.SUBTARGET }}-${{ env.VERSION }}
          PROFILE: ${{ env.PROFILE }}
          ARTIFACTS_DIR: /workdir
          REPO_DIR: /workdir/bin/packages/${{ env.ARCH }}
          EXTRA_REPOS: >-
            src|${{ env.PREFIX }}packages|file:///repo/${{ env.PREFIX }}packages
            src|${{ env.PREFIX }}luci|file:///repo/${{ env.PREFIX }}luci
          NO_LOCAL_REPOS: 1
          KEY_BUILD: ${{ env.USIGN_KEY }}
          KEY_BUILD_PUB: ${{ env.USIGN_PUBKEY }}
          PACKAGES: ${{ env.INSTALLS }}
          ROOTFS_SIZE: 256

      - name: Checkout Images
        shell: bash
        if: inputs.no_img == 0 && (inputs.build_mode == 0 || inputs.build_mode == 'build_pkgs_and_imgs' || inputs.build_mode == 'build_imgs') && !cancelled()
        run: |
          if [ -d "/workdir/bin" ]; then
            sudo chown -R $USER:$GROUPS /workdir/bin
            rm -rf   "$GITHUB_WORKSPACE/$TPATH/$BRANCH/targets/$TARGET/$SUBTARGET" 2>/dev/null
            mkdir -p "$GITHUB_WORKSPACE/$TPATH/$BRANCH/targets/$TARGET/" 2>/dev/null
            mv -f "/workdir/bin/targets/$TARGET/$SUBTARGET" "$GITHUB_WORKSPACE/$TPATH/$BRANCH/targets/$TARGET/$SUBTARGET"
            pushd "$GITHUB_WORKSPACE/$TPATH/$BRANCH/targets/$TARGET/$SUBTARGET"
            if [ "${{env.GPG_SIGN}}" == "true" ]; then
              gpg -u ${GPG_ID} --batch --pinentry-mode=loopback --yes --passphrase "$(echo -n "${GPG_PW}")" -a -o sha256sums.asc --detach-sign sha256sums
            fi
            popd
          fi

      - name: Generate artifact name and clean up irrelevant packages
        run: |
          echo "artifact=OpenWRT-Build-$VERSION-$ARCH-$TARGET-$SUBTARGET-$PROFILE" >> $GITHUB_ENV
          find $TPATH/* -maxdepth 0 2>/dev/null | grep -v "$BRANCH" | xargs -I{} rm -rf "{}"
          find $TPATH/$BRANCH/packages/* -maxdepth 0 2>/dev/null | grep -v "$ARCH" | xargs -I{} rm -rf "{}"
          find $TPATH/$BRANCH/targets/* -maxdepth 0 2>/dev/null | grep -v "$TARGET" | xargs -I{} rm -rf "{}"
          find $TPATH/$BRANCH/targets/$TARGET/* -maxdepth 0 2>/dev/null | grep -v "$SUBTARGET" | xargs -I{} rm -rf "{}"

      - name: Display structure of upload files (${{ env.VERSION }}, ${{ env.ARCH }}, ${{ env.TARGET }}-${{ env.SUBTARGET }})
        run: ls -R
        working-directory: ${{ env.TPATH }}/

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.artifact }}
          path: |
            ${{ env.TPATH }}/
          retention-days: ${{ env.ARTIFACT_RETENTION_DAYS }}
